.container {
    width: calc(20% - 10px);
    height: 300px;
    margin: 10px;
    background-color: rgb(218, 166, 246);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.image {
    width: 90%;
    height: 150px;
    background-color: red;
}   

.name {
    font-size: 10px;
}

.types {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 30px;
    font-size: 15px;
}

.type {
    background-color: blue;
}